@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400);

#layout1 {

	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	background: #DB4437;
	position: relative;
	z-index: -2;
	min-height: 100%;

	.title {
		color: #fff;
		width: 300px;
		float: left;		
		.main {
			background: #27395e;
			padding: 30px;
		}
		.sub1 {
			padding: 10px 30px;
			font-size: 14px;
			background: #D2AE9B;
		}
		.sub2 {
			padding: 10px 30px;
			font-size: 14px;
			background: #9B543E;
		}
	}

	.big-events {
		color: #1A1A1A;
		overflow: auto;
		position: relative;
		height: 350px;
		.big-event {
			overflow: hidden;
			max-height: 300px;
			position: relative;
			box-shadow: 0px 30px 30px -30px #111 inset;
			h3 {
				position: absolute;
				left: 50px;
				top: 10px;
				color: #fff;
				font-weight: 300;
				font-size: 50px;
			}
			img.icon {
				position: absolute;
				top: 30px;
				left: 10px;
			}
			img.cover {
				width: 100%;
				position: relative;
				z-index: -1;
			}
			.description {
				position: absolute;
				top: 74px;
				left: 53px;
				color: #fff;
			}
		}
	}

}